# Create new app here https://github.com/settings/applications
GITHUB_KEY=replace_with_github_application_key
GITHUB_SECRET=replace_with_github_application_secret

# Generate new token here: https://github.com/settings/tokens
GITHUB_ACCESS_TOKEN=replace_with_github_access_token

# Generate with "ruby -r securerandom -e 'puts SecureRandom.hex(40)'
GITHUB_WEBHOOK_SECRET=replace_with_github_webhook_secret

# Password for sidekiq web interface at /sidekiq
SIDEKIQ_PASSWORD=changeme

# Generate with "ruby -r securerandom -e 'puts SecureRandom.hex(40)'
SESSION_SECRET=changeme

VIEWER_SINATRA_REPO=everypolitician/viewer-sinatra
