<a href="<%= url '/' %>">Back</a>
<div class="page-header">
  <h1><%= @application.name %></h1>
</div>

<dl class="keys">
  <dt>Webhook url</dt>
  <dd><a href="<%= @application.webhook_url %>"><%= @application.webhook_url %></a></dd>
</dl>
