<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
        <a href="<%= url('/') %>">Webhooks</a> / <b>Add webhook</b>
      </div>
      <div class="panel-body">
        <p>We’ll send a POST request to the URL below with details of any subscribed events.</p>

        <hr>

        <% if @application.errors.any? %>
          <p>Some errors prevented this application from being saved:</p>
          <ul>
            <% @application.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <form method="post" action="<%= url '/webhooks' %>">
          <p>
          We will send a POST request to your webhook&rsquo;s
          <strong>URL</strong> whenever EveryPolitician&rsquo;s
          data changes.
          </p>
          <p>Register a new webhook:</p>
          <div class="form-group">
            <label for="application_name">Webhook name *</label>
            <input type="text" id="application_name" name="application[name]" class="form-control">
          </div>

          <div class="form-group">
            <label for="application_webhook_url">Webhook URL *</label>
            <input type="url" id="application_webhook_url" name="application[webhook_url]" class="form-control" placeholder="https://example.org/webhook_handler">
          </div>

          <input type="submit" value="Create" class="btn btn-default">
        </form>
      </div>

    </div>
  </div>
</div>
