<p>You have successfully submitted an update for <%= @application.name %>. It now needs to be approved before it's published.</p>

<p>Person: <%= @submission.person_id %></p>

<h3>Updates:</h3>

<ul>
  <% @submission.updates.each do |update| %>
    <li><b><%= update.field %></b>: <%= update.value %></li>
  <% end %>
</ul>
